.divmain1{
    display: grid;
    background-color: chartreuse;
    height: 600px;
    width: 1000px;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    border: 5px solid red;
}

.div1{
    
   background-color:  aqua;
   border: 2px solid black;
   grid-column-start: 1;
   grid-column-end: 3;
}

.div2{
   
    background-color:  blueviolet;
    border: 2px solid black;
    }

.div3{
    
   background-color:  bisque;
   border: 2px solid black;
}

.div4{
    
 background-color:  brown;
 border: 2px solid black;

}



.div5{
   
   background-color:  rgb(228, 11, 174);
   border: 2px solid black;
   grid-column-start: 1;
   grid-column-end: 4;
}
   